@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary:#FD6941;
  
}


body {
  background: var(--background);
  font-family: 'Noto Sans', Helvetica, sans-serif;
}

@layer components {
  .textInput{
    @apply placeholder:!text-black text-black
  }
  .section-title {
    @apply bg-inherit font-bold text-black leading-normal text-2xl lg:text-4xl;
  }
  html,
  body {
    overflow-x: hidden;
  }
  .menu-item-active {
    @apply underline underline-offset-2 duration-300;
  }
  .menu-item {
    @apply p-1 px-2 hover:rounded ;
  }

  .menu-item:hover {
    @apply underline underline-offset-2 duration-500;
  }

  p,li{
    color:#777777;
  }

  iframe{
    @apply rounded-3xl
  }
}

@layer utilities {
  @layer base {
    .no-tailwindcss-base {
      padding-left: 10px ;
      padding-right: 10px;
      overflow-x: hidden !important;
    }
    .no-tailwindcss-base a {
      @apply text-primary;
    }
    .no-tailwindcss-base td {
      display: table-cell;
      width: 50%;
    }
    .no-tailwindcss-base tr {
      vertical-align: top;
    }
    .no-tailwindcss-base .elementor-element-c7e296c .e-con-inner{
      @apply grid md:grid-cols-3
    }

    .no-tailwindcss-base svg{
      width:64px;
    }

    .no-tailwindcss-base .elementor-heading-title{
      @apply text-primary
    }
   
    @media screen and (max-width: 885px) {
      .no-tailwindcss-base td {
        display: block;
        width: 100% !important;
      }
      .no-tailwindcss-base img {
        margin-bottom: 15px;
        display: block;
        max-width: 100%;
        float: none !important;
        margin-left: 0 !important;
      }
    }
    .no-tailwindcss-base,
    .no-tailwindcss-base *,
    .no-tailwindcss-base > * {
      font-size: revert;
      font-weight: revert;
      margin: revert;
      display: revert;
      vertical-align: revert;
      max-width: revert;
      height: revert;
      border-width: revert;
      border-style: revert;
      border-color: revert;
      outline: revert;
      list-style: revert;
      padding: revert;
    }
  }
}
